<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.blog.dao.ReplyforumMapper">
	<!--添加-->
	<insert id="insertReplyforum" parameterType="Replyforum">
		insert into replyforum
		(fid,uid,createTime,getIntegral,floor,content)
		values(#{fid},#{uid},#{createTime},#{getIntegral},#{floor},#{content})
	</insert>
	<!--删除-->
	<delete id="deleteReplyforum" parameterType="int">
		delete from replyforum where id=#{id}
	</delete>
	<!--查询所有回复-->
	<resultMap id="replyforumList" type="Replyforum">
		<id property="id" column="id"/>
		<result property="fid" column="uid"/>
		<result property="createTime" column="createTime"/>
		<result property="getIntegral" column="getIntegral"/>
		<result property="content" column="content"/>
		<result property="floor" column="floor"/>
		<association property="user" resultMap="userList"/>
	</resultMap>
	<resultMap id="userList" type="User">
		<id property="id" column="r_id"/>
		<result property="userName" column="userName"/>
	</resultMap>
	<select id="find" resultMap="replyforumfList">
		select rf.*,u.*,u.id AS u_id from replyforum as rf,USER as u WHERE id=#{id} and rf.uid=u.id;
	</select>

</mapper>