<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.blog.dao.UserMapper">
	<select id="getLoginUser" resultType="User">
		select u.* from `user` u
		<trim prefix="where" prefixOverrides="and | or">
			<if test="name != null">
				and u.name = #{name}
			</if>
			<if test="pwd !=null">
				AND  u.pwd = #{pwd}
			</if>
		</trim>
	</select>
</mapper>