/*bbs左侧栏*/
.bbs-left-bar{
	padding: 0;
}
.bbs-left-bar li{
	list-style: none;
}

/*主内容模块样式*/
.bbs-main{
	width: 50%;
	margin: auto;
	padding-top: 20px;
}

.bbs-main-category{
	border:dashed 1px gray;
}
.bbs-main-title{
	text-indent: 2em;
	background: aliceblue;
	margin: 0;
	line-height: 25px;
}
.line{
	height: 1px;
	clear: both;
}
.bbs-main-category ul{
	padding: 0;
	margin:20px 0;
}
.bbs-main-category ul li{
	margin-left:5%;
	width: 40%;
	float: left;
	list-style: none;
}
.bbs-main-category ul li dt{
	color: blue;
	font-weight: 700;
}

.bbs-main-category ul li dd{
	float: left;
	margin-left: 20px;
}

.bbs-main-post{
	margin-top: 20px;
}

.bbs-main-post ul{
	padding: 0;
}

.bbs-main-post ul li{
	border-bottom: dashed 1px gainsboro;
	list-style: none;
	text-indent: 2em;
}

.bbs-main-post ul li a{
	margin-left:1px ; 
	text-decoration: none;
}
.bbs-main-post ul li a:hover{
	text-decoration: underline;
}

.post-title{
	font-size: 16px;
}

.tip{
	font-size: 12px;
	color: darkgray;
}
.tip>a{
	font-size: 12px;
	color: darkgray;
}

.bbs-main-post>ul>li>p>span:nth-of-type(3){
	float: right;
	margin-right: 30px;
	color: blue;
}

/*具体贴纸页面样式*/
.bbs-view{
	margin: 10px auto;
	width: 80%;
	position: relative;

}
.bbs-view-function{
	position:fixed;
	left: 150px;
	
}
.bbs-view-function ul li{
	list-style: none;
}
.bbs-view-function ul li a{
	text-decoration: none;
}

.bbs-view-post{
	margin: 10px;
	border: 1px solid lightblue;
	display: flex;	
	position:relative;
}

.floor{
	position: absolute;
	top:10px;
	left: 10px;
}

.bbs-view-post-left{
	width: 20%;
	display: inline-block;
	background: lightblue;
	position:relative;
}

.bbs-view-post-left-userInfo{
	text-align: center;
	width: 100px;
	margin:10px auto;
}

.bbs-view-post-left-userInfo img{
	width: 100px;
	height: 100px;
}
.bbs-view-post-text-info{
	margin: 10px;
	width: 100%;
}
.bbs-view-Replieses ul{
	margin: 10px;
	padding: 0;
}
.bbs-view-Replieses ul li{
	list-style: none;
	margin-top: 1px;
	border: 1px solid lightblue;
}

.bbs-view-Replies{
	display: flex;
}

/*论坛分类区公共列表样式*/
.pagination{
	display: flex;
}

.pagination ul{
	display: flex;
}
.pagination ul li{
	margin-left: 20px;
	list-style: none;
}


